<p>
  <form action="/quizes" method="get">
    <input type="text" placeholder="Texto a buscar" name="search">
    <input type="submit" value="Buscar">
  </form>
</p>
<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr>
      <td><%= quizes[i].tema %>  -  </td>
      <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <%if(session.user) { %>
        <td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
        <td>
          <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
              borrar
            </button>
          </form>
        </td>
      <% } %>
    </tr>
  <% } %>
</table>
<%if(session.user) { %>
  <a href="/quizes/new"><button>Crear pregunta</button></a>
<% } %>