<h3>Estadísticas</h3>
<br/>
<table>
  <tr><td class="left">Número de preguntas:</td><td><%= stats.numPreguntas %></td></tr>
  <tr><td class="left">Número de comentarios totales:</td><td><%= stats.numComentarios %></td></tr>
  <tr><td class="left">Número medio de comentarios por pregunta:</td><td><%= stats.comentariosPorPregunta %></td></tr>
  <tr><td class="left">Número de preguntas sin comentarios publicados:</td><td><%= stats.numPreguntasNoComentadas %></td></tr>
  <tr><td class="left">Número de preguntas con comentarios publicados:</td><td><%= stats.numPreguntasComentadas %></td></tr>
</table>